<div class="jumbotron">
  <h1 class="display-4 text-center">Bitchin-mixin'!</h1>
  <p class="lead text-center">Find your bitchin' mixes for mixin' bitch fun.</p>
  <hr class="my-4">
  <p class="text-center">Click below to browse our mixes.</p>
  <p class="lead text-center">
    <%= link_to "Browse Mixes", cocktails_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
